.intro {
  composes: abs-fill from global;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overscroll-behavior: contain;
  display: grid;
  grid-template-rows: 1fr;
  font-size: 1.2rem;
  color: var(--dim-text);
}

.blob-canvas {
  composes: abs-fill from global;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.main {
  min-height: 541px;
  display: grid;
  grid-template-rows: max-content max-content;
  justify-items: center;
  align-content: center;
  gap: 2rem;
  position: relative;
  padding: 2rem 1.5rem 3rem;
  --blob-pink: var(--hot-pink);
  --center-blob-opacity: 0.3;

  @media (min-width: 600px) {
    min-height: 688px;
    padding: 3rem 2rem 4rem;
  }
}

.load-img {
  position: relative;
  color: var(--white);
  font-style: italic;
  font-size: 1.2rem;
}

.blob-svg {
  composes: abs-fill from global;
  width: 100%;
  height: 100%;
  fill: var(--blob-pink);

  & path {
    opacity: var(--center-blob-opacity);
  }
}

.load-img-content {
  position: relative;
  --size: 29rem;
  max-width: var(--size);
  width: min(100vw, var(--size));
  height: var(--size);
  display: grid;
  grid-template-rows: max-content max-content;
  justify-items: center;
  align-content: center;
  gap: 0.7rem;

  @media (min-width: 600px) {
    --size: 36rem;
  }
}

.load-btn {
  composes: unbutton from global;
  background: transparent;
}

.load-icon {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  fill: var(--white);
  transform: translate(4.3%, -1%);
}

.load-actions {
  color: var(--white);
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  text-transform: none;
}

.paste-btn {
  composes: unbutton from global;
  text-decoration: underline;
  font: inherit;
  color: inherit;
}

.drop-text {
  @media (max-width: 599px) {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.install-btn {
  composes: unbutton from global;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--deep-blue);
  border-radius: 0.4em;
  color: var(--white);
  padding: 0.5em 1em;
  font-size: 1.4rem;
  animation: fade-in 600ms ease-in-out;
}
