.select {
  position: relative;
}

.builtin-select {
  background: var(--ui-input-bg);
  border-radius: 4px;
  font: inherit;
  padding: 4px 0;
  padding-right: 22px;
  padding-left: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--ui-input-border);
  color: var(--ui-input-text);
  width: 100%;
}

.arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--ui-panel-text);
  width: 10px;
  pointer-events: none;
}

.large {
  padding: 6px 30px 6px 8px;
  background: var(--colour-background-alt);

  & .arrow {
    right: 13px;
  }
}
